---
import Layout from "@/layouts/Layout.astro";
import { categories, songs } from "@/lib/data";

export function getStaticPaths() {
  return categories.map((category) => {
    const categorySongs = songs.filter((song) =>
      song.categoriesId.includes(category.id)
    );
    return {
      params: {
        slug: category.slug,
      },
      props: {
        category: category,
        categorySongs: categorySongs,
      },
    };
  });
}

const { slug } = Astro.params;
const { category, categorySongs } = Astro.props;
---

<Layout>
  <div>
    <h1 class="text-3xl mb-10">Categoria {slug}</h1>
    <picture>
      <img
        class="max-w-64"
        src={category.cover}
        alt={`Portada de ${category.title}`}
        transition:name=`category ${slug} image`
      />
    </picture>
    <h2 class="text-2xl text-white mt-4">
      <span transition:name=`category ${slug} title`>
        {category.title}
      </span>
    </h2>
  </div>
</Layout>
