---
import PlayCardButton from "@/components/PlayCardButton";
import { songs, type Category, type Song } from "@/lib/data";

interface Props {
  media: Song | Category;
}

const { media } = Astro.props;

let href = "/";
// TODO buscar imagen placeholder
let src = "https://picsum.photos/seed/placeholder4/400/300";
let title = "Default title";
let info = "Info";
let transitionImage = "";
let transitionTitle = "";

if (media.type === "song") {
  href = `/songs/${media.slug}`;
  src = media.image;
  title = media.title;
  info = media.artists.join(", ");
  transitionImage = `song ${media.slug} image`;
  transitionTitle = `song ${media.slug} title`;
} else if (media.type === "category") {
  href = `/categories/${media.slug}`;
  src = media.cover;
  title = media.title;
  info =
    songs
      .filter((song) => song.categoriesId.includes(media.id))
      .length.toString() + " Cançons";
  transitionImage = `category ${media.slug} image`;
  transitionTitle = `category ${media.slug} title`;
}
---

<li>
  <a
    class="song-item group bg-card-primary-dark flex flex-col p-2 rounded-sm shadow-md hover:shadow-xl hover:bg-card-primary-dark/50 transition duration-200"
    href={href}
  >
    <picture class="relative rounded-sm overflow-hidden">
      <img
        class="object-cover aspect-video object-center"
        src={src}
        alt={`Portada de ${title}`}
        transition:name={transitionImage}
      />
      <PlayCardButton client:visible media={media} />
    </picture>

    <div class="my-3 px-3">
      <h4 class="text-lg text-white text-nowrap truncate">
        <span transition:name={transitionTitle}>
          {title}
        </span>
      </h4>
      <p class="text-sm text-nowrap truncate">{info}</p>
    </div>
  </a>
</li>
